<div class="ui-tabs">
  <ul class="ui-tabs-nav">
    <a href="#map-slider-container"><li class="ui-tabs-panel active">Map</li></a>
    <a href="#line-graph-container"><li class="ui-tabs-panel">Trends</li></a>
  </ul>
</div>
