<div id="map-legend-container">

	<div class="map-legend-title"> Legend: Approval to Disapproval Ratio </div>

	<br>

	<% _.each(NINECOLORSCHEME, function(color) { %>
		<div id="<%= color %>" class="map-legend-square" style="background-color:<%= color %>"></div>
	<% }); %>

	<br>

	<div class="map-legend-square">-</div>
	<div class="map-legend-square">0.5</div>
	<div class="map-legend-square"></div>
	<div class="map-legend-square">1</div>
	<div class="map-legend-square"></div>
	<div class="map-legend-square">1.5</div>
	<div class="map-legend-square"></div>
	<div class="map-legend-square">2</div>
	<div class="map-legend-square">+</div>
	<div class="map-legend-square">n/a</div>

</div>