<div class="ui-tabs">
  <ul class="ui-tabs-nav">
    <a href="#map-slider-container"><li class="ui-tabs-panel active">Chart</li></a>
    <a href="#line-graph-container"><li class="ui-tabs-panel">Trends</li></a>
  </ul>
</div>

<div id="map-slider-container" class="charts">
	<div id="map-container" style="position: relative; width: 80%;"></div>
</div>



<div class="charts" id="line-graph-container">
  <svg id="line-graph" width="1000" height="500"></svg>
</div>
