<div id="map-container" style="position: relative; width: 80%; max-height: 450px;">
</div>
<%= charts[0].get('chart').slug %>
<ul>
<% _.each(charts[0].get('responses'), function(response) { %>
<li>
  <%= response.date %> - <%= response.answer %>: <%= response.percentage %>
</li>
<% }); %>
</ul>
