<div class="ui-tabs">
  <ul class="ui-tabs-nav">
    <a href="#first-chart-container"><li id="chart-tab" class="ui-tabs-panel active">Chart</li></a>
    <a href="#line-graph-container"><li id="trends-tab" class="ui-tabs-panel">Trends</li></a>
    <a href="#prediction-graph-container"><li id="predictions-tab" class="ui-tabs-panel">Predictions</li></a>
  </ul>
</div>

<div id="first-chart-container" class="charts">
	<div id="map-container" style="position: relative; width: 80%;"></div>

	<div id="bar-graph-container">
	  <svg class="graph" id="bar-graph" width="1000" height="500"></svg>
	</div>
</div>

<div class="charts" id="line-graph-container">
  <svg class="graph" id="line-graph" width="1000" height="500"></svg>
</div>

<div class="charts" id="prediction-graph-container">
</div>
