@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('/assets/CaviarDreams-webfont.eot');
    src: url('/assets/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         ('/assets/CaviarDreams-webfont.woff') format('woff'),
         ('/assets/CaviarDreams-webfont.ttf') format('truetype'),
         ('/assets/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
