<h3>Click to choose a topic.</h3>

<select id="topics-dropdown">
  <option selected></option>
  <% _.each(topics, function(topic) { %>
    <option value="<%= topic.get("id") %>"><%= topic.get("name") %></option>
  <% }); %>
</select>
