<!DOCTYPE html>
<html>
<head>
  <title>Pollarity</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta property="og:url"           content="http://localhost:3000/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Pollarity" />
  <meta property="og:description"   content="Interactive Poll Data Visualizer" />
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= yield %>

</body>
<div class="footer">
  <div class="team">
    <a href="https://github.com/zebogen">Matt Bogen</a> |
    <a href="https://github.com/Jasmine-Feldmann">Jasmine Feldmann</a> |
    <a href="https://github.com/ccring">Connor Ring</a> |
    <a href="https://github.com/jayqui">Quay Jigley</a>
  </div>
  <div class="fb-like" data-href="http://localhost:3000/" data-layout="standard" data-action="like" data-share="true"></div>
</div>
</html>
